<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Blog Post</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/110131/responsive.css'>

      <link rel="stylesheet" href="CSS/Post.css">

  <style>
    
    h2 {
       padding: 2px 60px;  
    color: #79B9D2; 
    font-size: 30px;
     } 

p {
   padding: 3px 1px; 
}
h3 {
    padding: 3px 60px;
    color: #79B9D2;
}
      
       .Post {
        font-size: 25px;
    }
    
    </style>
</head>

<body>

  <body ng-app="blogApp">
  
  <div ng-controller="BlogController as blog">
      <div class="topbar">
        <div class="container">
          <div class="row">
            <div class="col-s-4">
              <h2 ng-click="blog.selectTab('blog')" class="push-left">Blog Post </h2>
            </div>
            <div class="offset-s-4 col-s-4">
              <nav role='navigation' class="push-right">
                <ul>
                   <div class="Post"> <li><a href="BlogContent.html" ng-click="blog.selectTab('blog')">See All Posts</a></li> </div>
                </ul>
              </nav> 
            </div>
          </div>
        </div>
        </div>
     <div class="content">
        <div class="container">
          <div class="row">
            <ul class="post-grid" ng-show="blog.isSelected('blog')">
          <li ng-repeat="post in blog.posts" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="blog.selectTab($index)">
       
          </li>
        </ul>
        <div class="post" ng-repeat="post in blog.posts" ng-show="blog.isSelected($index)">
          <div>
            
            <h2>Movie Review: Nutcracker and the Fourth Realm</h2>
            <div class=""><div align="Center"> <img src="Nutcracker.jpeg" ></div></div> 
              <br> <p>Back in Victoria London in England, there’s a girl whose name is Clara, whose mother passed away at her young age.  Hence, she lives only with her father, Flitz, and Lucy. Before Christmas Eve, Clara’s dad keeps the Christmas presents under a Christmas tree and gives them to his family when the day comes. On that day when Clara receives the gift, she opens it and sees a dress her mother loved and a silver egg. Interestingly, her mother did not leave her the key for her to open the egg and that leaves her wondering where it might have been hidden. </p>
              <p>Later in the Christmas Eve ball, Clara’s father asks her for a dance but she disobeys and refuses him. Instead, she goes down to the basement and meets her godfather to resolve her problem. Godfather tells her that her mother left her the presents before she passed away and her wish was to bestow the gift to her daughter. When Clara goes back up, she gets told off by her father that she doesn’t listen to him and runs away on her own without dancing with him. After that, Drosselmeyer, the skilled engineer announces that it is the time for children to receive their gifts. </p>
               <p>Clara notices her gift on her string. She traces and follows it into a magnificent forest in a parallel world where she finds the key. In order to grab the key, Clara has to chase the mouse. Unfortunately, the mouse goes into a hole and Clara fails to get it. Before she crosses a frozen-over lake, she approaches Captain Philip Hoffman who is a “real life” nutcracker. Captain Hoffman tells her that she cannot cross the bridge inasmuch as the so-called “the Fourth Realm” is at war with the Land of Amusement. After few minutes of argument, however, Hoffman accompanied Clara to the other side of the world. </p>
               <p>When Clara and Hoffman return to the palace, she is introduced to Sugar Plum Fairy who is the regent of the Land of Sweets, the land of flowers, and the land of snowflake. Sugar Plum Fairy takes Clara to a ballet show and tells her the story of their world’s creation. The fairy explains to her that her mother created the world when she was young. She then flatters Clara by saying she is going to defend the other three realms against Mother Ginger, and the Regent of the Four Realm. Clara thinks the fairy is being serious and she believes everything she says. She realises that the key fits both the key hole and her egg. Afterwards, she looks for Mother Ginger for the key the mouse had snatched. Disappointingly, when Clara unlocks the egg, she doesn’t feel surprised at all inasmuch as it is just a normal music box.</p>
               <p>Returning to the palace, Clara hands the key to Sugar Plum. Sugar Plum is glad about helping her to get what she wants. Now that Clara’s mission is done, the fairy doesn’t need her anymore. After she got the key from Clara, she uses the machine to turn the toy soldiers to real-life size soldiers which can then march by following her order, including her command to attack the Fourth Realm. In the meantime, she notices that she can use it to turn humans back into toys as well. She not only betrayed Clara, but also lied to Mother Ginger about her plan. Clara feels disappointed and argues with her until she and her partners are imprisoned. </p>
               <p>Clara realises that she has to be herself after revealing a mirror from her music box. Thus, she and her mates escape as soon as possible. After that, Captain Philip is greeted by one of Ginger Mother’s mice who shows Clara another way into the machine room and guides Captain Philip to Mother Ginger to convince her to help Clara fight against Sugar Plum. Clara enters the machine room and shuts down the machine while fighting against soldiers. Mother Ginger comes through and helps her fight together with soldiers. Eventually, she’s trapped by Sugar Plum in which Sugar Plum attempts to turn her into a toy with the machine but it is an unsuccessful one. Instead, Clara aims at Sugar Plum and turns her back into a doll while saving Mother Ginger. </p>
               <p>That is how it is all ended when Clara is returning back to London.  Before she leaves, she promises Captain Philip to revisit the Fourth Realm in the future. As she approaches her father, she apologises for her earlier behaviour and asks him for a dance. Her father later reveals that the music box’s song was the first song that he and his wife had ever danced to. The show ends with a father dancing with his daughter throughout the night.</p>
               <p>This ballet was first seen when I was studying in England. I was in year nine back then. I remember my drama teacher, Mr. Henson, brought the whole class to watch Nutcracker in London. Because of my vague memory, I can hardly remember anything other than that. Despite that, I still enjoyed the show while I was in London.</p>
                     <div align="right"><p>(855 words)</p></div>
            </div>
              </div>
            </div>
         </div>
      </div>
      </div>
    </body>
    </body>
</html>
